[submodule "Documentation"]
	path = Documentation
	url = https://github.com/TWTL/Documentation
[submodule "Engine"]
	path = Engine
	url = https://github.com/TWTL/Engine
[submodule "GUI"]
	path = GUI
	url = https://github.com/TWTL/GUI
[submodule "Service"]
	path = Service
	url = https://github.com/TWTL/Service
[submodule "TestSuite"]
	path = TestSuite
	url = https://github.com/TWTL/TestSuite
